* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    /* CANCELLARE */
    height: 100%;
    background-color: orange;
    border: 5px solid white;
    font-family: 'Montserrat', sans-serif;
}

.container.background {
    background-image: url(https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png);
    background-size: cover;
}

.blu {
    height: 400px;
    background-color: blue;
    color: white;
}

nav {
    height: 70px;
    background-color: blue;
    font-size: 7px;
    text-transform: uppercase;
    position: relative;
}

#logo {
    display: inline;
}

#logo img {
    /* height: 50px; */
    margin: 10px 50px;
    /* display: inline-block; */
    float: left;

}

ul li {
    display: inline-block;
    line-height: 70px;
    padding: 0 10px;
}

/* .right-menu nav {
    line-height: 70px;
    float: left;
} */


.banner {
    height: 330px;
    position: relative;
}

.testo-banner {
    width: 50%;
    height: 100%;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}


h1  {
    margin: 50px;
}

.grigio {

    height: 100px;
    background-color: grey;
    text-align: center;
    vertical-align: middle;

}

h3 {
    font-size: 15px;
}

.bianco {
    /* CANCELLARE */
    height: 400px;
    /* background-color: white; */
}

.box {
    width: 33.33333%;
    height: 100%;
    border: 1px solid white;
    float: left;
}
