* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    /* CANCELLARE */
    height: 100%;
    background-color: orange;
    border: 5px solid white;
}

.container.background {
    background-image: url(https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png);
    background-size: cover;
}

.blu {
    height: 400px;
    background-color: blue;
}

nav {
    height: 70px;
    background-color: blue;
}

.banner {
    height: 330px;
    position: relative;
}

.testo-banner {
    width: 50%;
    height: 100%;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.grigio {
    height: 100px;
    background-color: grey;
}

.bianco {
    /* CANCELLARE */
    height: 400px;
    /* background-color: white; */
}

.box {
    width: 33.33333%;
    height: 100%;
    border: 1px solid white;
    float: left;
}
