* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.bcg-blu {
    background-color: #0c325a;
}

.menu-top {
    height: 70px;
    padding: 10px 0;
    line-height: 50px;
}

#logo, nav {
    float: left;
}

#logo img {
    margin-right: 50px;
}

nav li {
    float: left;
    list-style: none;
    padding: 0 5px;
}

.menu-top a {
    font-size: 8px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-right {
    float: right;
}

.bt {
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.button-blue {
    background-color: #0c325a;
    padding: 5px 20px;
    border: 1px solid #b8e2f2;
    margin: 0 10px;
}

.button-green {
    background-color: #7cbb02;
    padding: 5px 10px;
    border: 1px solid #7cbb02;
}

.bt-grande {
    padding: 13px 20px;
}

.banner {
    height: 400px;
    position: relative;
}

.contained {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.bcg-grigio {
    padding: 40px;
    background-color: #d3d3d3;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: gray;
}

.bcg-bianco {
    background-color: white;
}

.box {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding: 0 5px;
}

.bcg-bianco img {
    height: 140px;
    margin-top: 50px;
}

.box h3 {
    color: #7cbb02;
    margin: 20px 0;
}

hr {
    width: 70px;
    margin: 30px auto;
    text-align: center;
}

.middle-box hr {
    margin-top: 53px;
}

.box p {

}
